<%-include('header'); -%>

<h1 style="text-align:center">This App was made for Learning</h1>
<p class="about"> Share the love, and continue to code, If I can do it so can you Never stop Learning and improving your skill
Special thanks to my son and loving wife, Thank You for all your support,
I would not have bene this far without you guys</p>
<h2 class="about" >Thank You ❤️</h2>


<%-include('footer'); -%>
