   </body>
       <footer>
          <div class="">
           &copy Copyright 2022 The @chuckmaster
         </div>
         <div class="footer-menu">
           <ul>
             <li>
               <a href="/">Daily tasks</a>
             </li>
             <li>
              <a href="/work">Work tasks</a>
             </li>
             <li>
               <a href="/about">About</a>
             </li>
           </ul>

         </div>
       </footer>
</html>
